In [1]:
import pandas as pd

In [10]:
# Read in the data
vine_table = pd.read_csv("vine_table.csv")
vine_df = pd.DataFrame(vine_table)
vine_df

# Add column names
vine_df.columns =['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine', 'verified_purchase']
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3LGC3EKEG84PX,5.0,0.0,0.0,N,Y
1,R9PYL3OYH55QY,5.0,0.0,1.0,N,Y
2,R3PWBAWUS4NT0Q,3.0,0.0,0.0,N,Y
3,R15LYP3O51UU9E,5.0,0.0,0.0,N,Y
4,R1AD7L0CC3DSRI,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
4751571,RCCO7QP25QFYU,5.0,30.0,31.0,N,N
4751572,R2K6VMIL048HD3,5.0,6.0,7.0,N,N
4751573,R1ZOIUY0UMHPE4,5.0,4.0,4.0,N,N
4751574,R4X9DR0KSYFXD,4.0,1.0,1.0,N,N
4751575,R87VUTMFOE6N,5.0,0.0,1.0,N,N

In [11]:
# Filter the data for more than 20 total votes
filtered_vine_df = vine_df[vine_df["total_votes"] >= 20]
filtered_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
167,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
520,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
760,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1162,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1168,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751464,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751515,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751543,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751551,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751571,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

In [12]:
# Filter new dataframe for rows where helpful votes / total votes >= 50%
helpful_vine_df = filtered_vine_df[filtered_vine_df["helpful_votes"] / filtered_vine_df["total_votes"] >= 0.5]
helpful_vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
167,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
520,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
760,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1162,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1168,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751464,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751515,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751543,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751551,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751571,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

In [14]:
# Filter new dataframe for "y" in vine column
vine_yes_df = helpful_vine_df[helpful_vine_df["vine"] == "Y"]
vine_yes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2279917,R84VUCDBCI29U,3.0,18.0,28.0,Y,N
2309314,R4V3ICFDTIDIF,4.0,20.0,21.0,Y,N
2316380,R1JZ0JAPW83WFS,4.0,54.0,58.0,Y,N
2520260,R1XH7EA97FAVP7,3.0,35.0,44.0,Y,N
2521505,R1482JAU1ZR7QH,4.0,15.0,22.0,Y,N
2549059,R1GGYGVTHP84DG,4.0,25.0,27.0,Y,N
2564216,RXGU9DSKZJSP0,3.0,21.0,22.0,Y,N

In [15]:
# Filter new dataframe for "n" in vine column
vine_no_df = helpful_vine_df[helpful_vine_df["vine"] == "N"]
vine_no_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
167,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
520,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
760,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1162,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1168,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751464,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751515,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751543,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751551,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751571,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

In [16]:
# Find total number of reviews
index = helpful_vine_df.index
number_of_rows = len(index)

print(number_of_rows)

105986

In [18]:
# Find number of 5 star reviews
five_star_reviews = helpful_vine_df[helpful_vine_df["star_rating"] == 5]
len(five_star_reviews)

67580

In [21]:
# Find percentage of 5 star reviews for paid reviews
num_five_reviews_paid = len(vine_yes_df[vine_yes_df["star_rating"] == 5])
paid_percentage = num_five_reviews_paid/number_of_rows
paid_percentage

0.0

In [22]:
# Find percentage of 5 star reviews for unpaid reviews
num_five_reviews_unpaid = len(vine_no_df[vine_no_df["star_rating"]== 5])
unpaid_percentage = num_five_reviews_unpaid/number_of_rows
unpaid_percentage

0.6376313852773008